h1,h2 {
  font-family:monospace;
}

h1 {
  font-size: 48px;
}


h2 {
  font-size: 2vw;
}

h3 {
  font-size: 1.5vw;
  font-family: "Courier New";
}

.row {
  padding-bottom: 20px;
  padding-left: 10px;
}

ul {
  list-style-type: square;
}

.body {
  padding-right:40px;
  padding-top: 20px;
  padding-left: 50px;
  font-size: 1.25vw;
  font-family: "Courier New";
}

#menu {
  background: #4b2e83; 
  color: #FFFFFF;
}

#menu:link {
  color: #FFFFFF;
}

#menu:visited {
  color: #FFFFFF;
}

a:link {
  color: #b7a57a;
}

a:visited {
  color: #b7a57a;
}

.social {
 overflow: auto;
 width: 100%;
 /*
 Un-comment and change below
 flow to 'right' to put social
 links on top of the picture.
 position: absolute;
 top: 20%;
 right: 1.5%;
 */
}

.social li {
 list-style-type: none;
 float: left;
}

ul li a i {
 background: #205D7A;
 color: white;
 width: 3vw;
 height: 3vw;
 font-size: 25px;
 text-align: center;
 margin-right: 10px;
 padding-top: 15%;
}

.fa-linkedin {
 background:#007bb6
}

.fa-github {
  background:#000000;
}

.fa-envelope {
  background: #CC0000;
}

.fa-home {
  background: green;
}

.fa-location-arrow {
  background: #E6E600;
}

.fa-phone {
  background: green;
}

body{
  padding-top: 10px;
}

p{
  color: white;
  font-family: "Courier New";
  font-size: 3vw;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end);
  position: absolute;
  left: 1.5%;
  top: 20%;
  width: 100%;
}

p:nth-child(2){
  animation: type2 8s steps(60, end);
}

p a{
  color: white;
  text-decoration: none;
}

span{
  animation: blink 1s infinite;
}

@keyframes type{
  from { width: 0; }
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}

.himage {
   position: relative;
   width: 100%; /* for IE 6 */
}

td {
  padding-right: 15px;
}



